header {
    display: flex;
    background-color: #d33a2c;
    justify-content: space-evenly;
    line-height: 75px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
}

.articles {
    text-align: center;
    width: 25%;
    font-size: 25px;
    position: absolute;
    left: 38%;
    background-color: none;
}

.change-bkg {
    float: right;
}

.writers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}

.writer-1 {
    background-color: aqua;
    width: 50%;
    padding-top: 150px;
}
.writer-2 {
    background-color: bisque;
    width: 50%;
    padding-top: 150px;
} 

.writer-3 {
    background-color: blue;
    width: 50%;
    
}

.writer-4 {
    background-color: #d33a2c;
    width: 50%;
   
}

.autor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.write {
    margin-right: 350px;
}
.article-title {
    padding-left: 20px;
}

.issues {
    padding-left: 20px;
}

.arrow {
    padding-left: 20px;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-elem {
    padding: 20px;
}

.grid-elem-author {
    color: #666;
    font-weight: 700;
}

.grid-elem-title {
    color: black;
    font-weight: 700;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.arrow-botton{
    border: none;
    background: none;
    padding: 0;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 30px;
}

.main-section {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

.in-text {
    background-color: #fff;
}
