header {
    display: flex;
    background-color: #d33a2c;
    justify-content: space-evenly;
    line-height: 95px;
    height: 90px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.header-itm-bckgrn {
    padding: 15px;
    border-radius: 15px;
    background-color: #6d1c14;
}

header img {
    width: 52px;
    height: 72px;
    margin-top: 25px;
}

body {
    margin: 0;
    padding: 0;
}

.articles {
    text-align: center;
    width: 25%;
    font-size: 25px;
    position: absolute;
    left: 38%;
    background-color: none;
}

.img {
    width: 96px;
    height: 86px;
}

.change-bkg {
    float: right;
}

.writers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;

}

.writer-1 {
    background-color: #bc3428;
    width: 50%;
    padding-top: 150px;
}
.writer-2 {
    background-color: #c7372a;
    width: 50%;
    padding-top: 150px;
}

.writer-3 {
    background-color: #b13125;
    width: 50%;

}

.writer-4 {
    background-color: #bc3428;
    width: 50%;

}

.autor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.writer, .wrtr-name{
    width: 100%;
    font-size: 10px;
}

.write {
    margin-right: 350px;
}
.article-title {
    padding-left: 20px;
}

.issues {
    padding-left: 20px;
}

.arrow {
    padding-left: 20px;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-elem {
    padding: 20px;
}

.grid-elem-author {
    color: #666;
    font-weight: 700;
}

.grid-elem-title {
    color: black;
    font-weight: 700;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.arrow-botton{
    border: none;
    background: none;
    padding: 0;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 30px;
}

.main-section {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

.in-text {
    background-color: #fff;
}
.advertise {

  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;

}
.ofs {
  text-align: center;
}

.partner {
  border: 1px solid gray ;
  padding: 50px;
  border-radius: 5%;
  text-align: center;
  background-color: #006fc6;
}
p span {
  font-weight: bold;

}
.partner-title p {
  font-size: 1.5em;

}
.sign {
  border: 1px solid lightgray;
  color: white;
  padding: 10px 15px;
  background-color: green;
  text-decoration: none;
  border-radius: 4%;

}
.smashing-members {
  border: 1px solid lightgray;
  text-align: center;
  background-color:  #d33a2c;
  color: white;
  border-radius: 15px;
  height: 600px;
}
.member-title {
  color: white;
  font-size: 2em;
}
.smashing-members p {
  font-size: 15px;
  padding: 20px;
}

.feature {
  border: 1px solid lightgray;
  border-radius: 10px;
  color: blue;
  background-color: white;
  padding: 10px 15px;
}
.signin {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-left: 300px;
}
